{% extends 'base.html' %} {% block content %} {% if error %}
{{ error }}
<br />
<br />
{% endif %}

<h1>HOME</h1>

<form method="POST" action="{% url 'index' %}" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="input-group mb-3">
    <div class="custom-file">
      <input
        type="file"
        class="custom-file-input"
        name="image"
        id="inputGroupFile01"
        aria-describedby="inputGroupFileAddon01"
      />
      <label class="custom-file-label" for="inputGroupFile01"
        >Choose file</label
      >
    </div>
  </div>
  <input class="btn btn-dark" type="submit" value="Submit" />
</form>

<!-- {% for image in images.all %}
<h1>image here</h1>
<h3>{{ image.id }}</h3>
<img class="img-fluid" width="800" src={{ image.image.url }}></img>
{% endfor %}  -->

{% if just_saved_image %}
<p>yo, you just saved an image!</p>
<p>image id: {{ just_saved_image.id }}</p>
<img
  class="img-fluid"
  width="800"
  src="{{ just_saved_image.image.url }}"
  alt=""
/>
{% else %}
<p>no image set</p>
{% endif %} {% endblock %}
