{% extends 'base.html' %} {% block content %}

<div class="row">
  <div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
    <h1 class="text-center">Colors From Image</h1>
    <p class="lead">
      Find the dominant color palette from an image. Choose between 3 and 7
      colors to get a color palette and hex codes.
    </p>

    {% if error %}
    <div class="alert alert-dark" role="alert">
      {{ error }}
    </div>
    {% endif %}

    <form
      id="image-form"
      method="POST"
      action="{% url 'index' %}"
      enctype="multipart/form-data"
      class="mb-3"
    >
      {% csrf_token %}
      <div class="form-group">
        <label for="imageInput">Image:</label>
        <div class="custom-file">
          <input
            type="file"
            class="custom-file-input"
            name="image"
            id="imageInput"
            aria-describedby="inputGroupFileAddon01"
          />
          <label class="custom-file-label" for="imageInput">Choose file</label>
        </div>
      </div>
      <div class="form-group">
        <label for="numberOfColors">Number of Colors:</label>
        <select class="form-control" id="numberOfColors" name="numberOfColors">
          <option value="3">3</option>
          <option value="4">4</option>
          <option selected value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
        </select>
      </div>
      <input
        id="submit-btn"
        class="btn btn-dark"
        type="submit"
        value="Submit"
      />
    </form>

    {% if just_saved_image %}

    <div class="row mt-3">
      <div class="col-sm-12 col-md-4 mb-3">
        <h3>Original:</h3>
        <img
          class="img-fluid"
          width="600"
          src="{{ just_saved_image.image.url }}"
          alt="Original Image"
        />
      </div>
      <div class="col-sm-12 col-md-4 mb-3">
        <h3>Palette:</h3>
        <img
          class="img-fluid"
          width="600"
          src="{{ just_saved_output }}"
          alt="Color Palette"
        />
      </div>
      <div class="col-sm-12 col-md-4 mb-3">
        <h3>Hexes:</h3>
        {% for hex in hexes_sorted_list %}
        <div class="d-flex align-items-center mb-3">
          <div
            style="background-color: {{ hex }}; height: 40px; width: 40px;"
            class="rounded-circle"
          ></div>
          <div class="ml-2">{{ hex }}</div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>
</div>

{% endblock %}
