{% extends 'base.html' %} {% block content %} {% if error %}
{{ error }}
<br />
<br />
{% endif %}

<h1>HOME</h1>

<form method="POST" action="{% url 'index' %}" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="input-group mb-3">
    <div class="custom-file">
      <input
        type="file"
        class="custom-file-input"
        name="image"
        id="inputGroupFile01"
        aria-describedby="inputGroupFileAddon01"
      />
      <label class="custom-file-label" for="inputGroupFile01"
        >Choose file</label
      >
    </div>
  </div>
  <input class="btn btn-dark" type="submit" value="Submit" />
</form>

{% for image in images.all %}
<h1>image here</h1>
<img class="img-fluid" width="800" src={{ image.image.url }}></img>
{% endfor %} {% endblock %}
